<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цікаві книги</title>
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
</head>
<body>
    <h1>Цікаві книги</h1>
    <h2 id = fisrt>1.Гулівер у Ліліпутії</h2>
    <img src="{% static 'Main/img/img1.jpg' %}" alt="">
    <p>Герой роману – Лемюель Гуллівер, хірург і мандрівник, спочатку судновий лікар, а потім і 
        «капітан декількох кораблів». Першою дивовижною країною, куди він потрапляє, стала Ліліпутія.
        Після аварії корабля мандрівник опиняється на березі. Його зв’язали крихітні чоловічки, розміром не більше мізинця. 
        Гуллівера радо знайомлять із звичаями країни. Йому демонструють вправи канатних танцюристів.
        Найспритніший плясун може отримати посаду, що звільнилася при дворі. Ліліпути влаштовують церемоніальний марш між 
        широко розставлених ніг Гуллівера. Людина-Гора приносить присягу на вірність державі Ліліпутії. Насмішкою звучать її слова,
        які перераховують титули крихітки-імператора, який іменується «відрадою і жахом Всесвіту».</p>

    <h2 id = second>2.Володар перснів</h2>
    <img src="{% static 'Main/img/img2.jpg' %}" alt="">
    <p>Проходить шістдесят років після повернення хоббіта Більбо Беггінса в Шир. Йому виповнюється сто десять років, 
       але зовні він зовсім не змінюється. Це наводить чарівника Гендальфа на страшну думку: магічне Кільце, вкрадене Більбо
       у Голлума, є на ділі Кільце влади. Тисячоліття тому його викував злісний чарівник Саурон, господар Темного царства, викував, 
       потім втратив і зараз прагне отримати назад. А це обернеться загибеллю світу, бо, опанувавши Кільцем, Саурон стане всесильний. 
       Кільце не можна знищити ні вогнем, ні залізом; воно підпорядковує собі свого тимчасового власника – під його впливом
        Голлум і став нещадним вбивцею; розлучитися з ним по своїй волі неможливо; якби Більбо був людиною, а не хоббітом, 
        він за роки володіння Кільцем став би безтілесним привидом, як дев’ять васалів Саурона, яким були подаровані дев’ять 
        «молодших» кілець, підпорядкованих Кільцю влади.
    </p>

    <h2 id = third>3.Аліса в країні див</h2>
    <img src="{% static 'Main/img/img3.jpg' %}" alt="">
    <p>Аліса біжить за Білим Кроликом і раптово провалюється в глибоку кролячу нору, яка виводить її в загадкову кімнату
        з безліччю зачинених дверей. Крізь одну з них вона бачить прекрасний сад, але ніяк не може туди пролізти,
        бо дверцята надто малі. Аліса помічає, що з’їдені пиріжки або гриби, а також випиті рідини призводять до зміни її росту. 
        В результаті вона ледь не тоне в морі сліз, виплаканих нею ж. Потім ледь не ламає будинок Білого Кролика і опиняється в 
        будиночку Герцогині, де зустрічає Чеширського Кота. Там Аліса дізнається, що Королева Сердець влаштовує змагання з гри
        в крокет. Побувавши на шаленому чаюванні англ. Mad Tea Party у Березневого Зайця, вона все ж таки опиняється в прекрасному 
        саду на грі в крокет, де порушено всі відомі правила: замість ключок використовують фламінго, замість м’ячів — їжаків,
        а в якості воріт служать солдати. Гра поступово перетворюється на несправедливий суд над Валетом, якого підозрюють в 
        крадіжці цукерок (в інших перекладах — котлет, пиріжків; в оригіналі англ. tarts — тарталети, начинку яких Валет з’їв). 
        Під час суду, в критичний момент, коли персонажі перетворюються на гральні карти та накидаються на неї, Аліса 
        прокидається і розуміє, що все, що сталося було лише сном.
    </p>

    <h2 id = fourth>4.Гобіт</h2>
    <img src="{% static 'Main/img/img4.jpg' %}" alt="">
    <p>Це історія надзвичайної пригоди, яку втнула ватага ґномів, узявшись відшукати загарбане драконом золото.
        Мимохіть учасником цієї ризикованої виправи став Більбо Торбин, прихильний до комфорту і позбавлений амбіцій гобіт,
        котрий, на власний подив, виявив неабияку винахідливість і вправність у ролі зломщика. Сутички з тролями, ґоблінами, 
        ґномами, ельфами та гігантськими павуками, бесіда з драконом, Смоґом Величним, і радше мимовільна присутність на Битві 
        П’ятьох Армій — ось лише деякі пригоди, що їх судилося пережити Більбо. Але траплялись і світліші моменти: щира дружба, 
        смачне частування, сміх та пісні. Написаний професором Толкіном для власних дітей, "Гобіт" відразу ж по виході у світ 
        зустрів палке схвалення. Ця дивовижна історія, цілком закінчена та вивершена, водночас є преамбулою до "Володаря Перснів".
    </p>

</body>
</html>