p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

#first{
    color: green;
}

#second{
    color: purple;
}

#third{
    color: pink;
}

#fourth{
    color: blue;
}